In [3]:
import pandas as pd

In [2]:
data = pd.read_csv("dataset.csv")

In [3]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [32]:
data = pd.read_csv("big.csv")

In [33]:
data.head()

   sentiment                                             review
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [34]:
data = pd.DataFrame(data)

In [35]:
#data.drop(data.iloc[:,1:5], inplace=True, axis=1)

In [36]:
data = data[data.columns[::-1]]

In [38]:
data.head()

                                              review  sentiment
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...          0
1  is upset that he can't update his Facebook by ...          0
2  @Kenichan I dived many times for the ball. Man...          0
3    my whole body feels itchy and like its on fire           0
4  @nationwideclass no, it's not behaving at all....          0

change order
change number to string
remove neutral

In [45]:
data.to_csv("big_new.csv", index=False)

In [62]:
data = pd.read_csv("big_new.csv")

In [63]:
data.head()

                                              review  sentiment
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...          0
1  is upset that he can't update his Facebook by ...          0
2  @Kenichan I dived many times for the ball. Man...          0
3    my whole body feels itchy and like its on fire           0
4  @nationwideclass no, it's not behaving at all....          0

In [64]:
data['sentiment'] = data['sentiment'].replace([0, 4], ["negative", "positive"])

In [65]:
data.head()

                                              review sentiment
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...  negative
1  is upset that he can't update his Facebook by ...  negative
2  @Kenichan I dived many times for the ball. Man...  negative
3    my whole body feels itchy and like its on fire   negative
4  @nationwideclass no, it's not behaving at all....  negative

In [66]:
data = data[data.sentiment != 0]

In [67]:
data.head()

                                              review sentiment
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...  negative
1  is upset that he can't update his Facebook by ...  negative
2  @Kenichan I dived many times for the ball. Man...  negative
3    my whole body feels itchy and like its on fire   negative
4  @nationwideclass no, it's not behaving at all....  negative

In [61]:
data.to_csv("big_new_new.csv", index=False)

In [72]:
data = pd.read_csv("data.csv")

In [73]:
data.head()

                                              review sentiment
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...  negative
1  is upset that he can't update his Facebook by ...  negative
2  @Kenichan I dived many times for the ball. Man...  negative
3    my whole body feels itchy and like its on fire   negative
4  @nationwideclass no, it's not behaving at all....  negative

In [74]:

data["review"] = data['review'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ')

/tmp/ipykernel_31619/181236039.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data["review"] = data['review'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ')

In [75]:
data.head()

                                              review sentiment
0  @switchfoot   - Awww, that's a bummer.  You sh...  negative
1  is upset that he can't update his Facebook by ...  negative
2  @Kenichan I dived many times for the ball. Man...  negative
3    my whole body feels itchy and like its on fire   negative
4  @nationwideclass no, it's not behaving at all....  negative

In [76]:
data["review"] = data['review'].str.replace('@[^\s]+', ' ')

/tmp/ipykernel_31619/1888292730.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data["review"] = data['review'].str.replace('@[^\s]+', ' ')

In [77]:
data.head()

                                              review sentiment
0      - Awww, that's a bummer.  You shoulda got ...  negative
1  is upset that he can't update his Facebook by ...  negative
2    I dived many times for the ball. Managed to ...  negative
3    my whole body feels itchy and like its on fire   negative
4    no, it's not behaving at all. i'm mad. why a...  negative

In [78]:
df = data

In [79]:
data["review"] = data["review"].str.replace("-", "")
data["review"] = data["review"].str.replace("#", "")
data["review"] = data["review"].str.replace("$", "")
data["review"] = data["review"].str.replace("%", "")
data["review"] = data["review"].str.replace("^", "")
data["review"] = data["review"].str.replace(",", "")
data["review"] = data["review"].str.replace(".", "")
data["review"] = data["review"].str.replace("0", "")
data["review"] = data["review"].str.replace("1", "")
data["review"] = data["review"].str.replace("2", "")
data["review"] = data["review"].str.replace("3", "")
data["review"] = data["review"].str.replace("4", "")
data["review"] = data["review"].str.replace("5", "")
data["review"] = data["review"].str.replace("6", "")
data["review"] = data["review"].str.replace("7", "")
data["review"] = data["review"].str.replace("8", "")
data["review"] = data["review"].str.replace("9", "")
data["review"] = data["review"].str.replace("*", "")

/tmp/ipykernel_31619/3487370695.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["review"] = data["review"].str.replace("$", "")
/tmp/ipykernel_31619/3487370695.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["review"] = data["review"].str.replace("^", "")
/tmp/ipykernel_31619/3487370695.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["review"] = data["review"].str.replace(".", "")
/tmp/ipykernel_31619/3487370695.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["review"] = data["review"].str.replace("*", "")

In [80]:
data.head()

                                              review sentiment
0       Awww that's a bummer  You shoulda got Dav...  negative
1  is upset that he can't update his Facebook by ...  negative
2    I dived many times for the ball Managed to s...  negative
3    my whole body feels itchy and like its on fire   negative
4    no it's not behaving at all i'm mad why am i...  negative

In [81]:
data.dropna()

                                                    review sentiment
0             Awww that's a bummer  You shoulda got Dav...  negative
1        is upset that he can't update his Facebook by ...  negative
2          I dived many times for the ball Managed to s...  negative
3          my whole body feels itchy and like its on fire   negative
4          no it's not behaving at all i'm mad why am i...  negative
...                                                    ...       ...
1599995  Just woke up Having no school is the best feel...  positive
1599996  TheWDBcom  Very cool to hear old Walt intervie...  positive
1599997  Are you ready for your MoJo Makeover? Ask me f...  positive
1599998  Happy th Birthday to my boo of alll time!!! Tu...  positive
1599999                        happy charitytuesday         positive

[1600000 rows x 2 columns]

In [82]:
data["review"] = data["review"].str.replace("*", "")

/tmp/ipykernel_31619/3583226083.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["review"] = data["review"].str.replace("*", "")

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   review     1600000 non-null  object
 1   sentiment  1600000 non-null  object
dtypes: object(2)
memory usage: 24.4+ MB

In [85]:
data["review"] = data["review"].str.replace(":", "")
data["review"] = data["review"].str.replace(";", "")
data["review"] = data["review"].str.replace("\'", "")
data["review"] = data["review"].str.replace("\"", "")
data["review"] = data["review"].str.replace("/", "")
data["review"] = data["review"].str.replace("?", "")

/tmp/ipykernel_31619/4195460005.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["review"] = data["review"].str.replace("?", "")

In [87]:
data["review"] = data["review"].str.replace("  ", "")

In [88]:
data.to_csv("data.csv", index=False)

: